{% comment %}
  This snippet renders the collection cover and collection card in two rows within a profile-container. The cover row renders the collection cover, and the card row is centered.
{% endcomment %}

<style>
  .collection-cover img {border-radius: 0px 0px 20px 20px}
  .cover-row {
    /* Style for cover-row */
  }
  .card-row {
    display: flex;
    justify-content: center;
    position: relative;
    top: -35px; /* Adjust this value to position the card halfway into the cover */
  }
</style>

<div class="profile-container">
  <div class="row cover-row">
    {% render 'collection-cover' %}
  </div>
  <div class="row card-row">
    {% render 'collection-card' %}
  </div>
</div>