<div class="shipping-handling">
    <b>Free Shipping & Returns <a href="https://scooterbio.com" style="color: rgb(95, 99, 102);">See More</a></b>
    <b>Have Questions? <br> <a href="https://scooterbio.com" style="color: rgb(95, 99, 102);">Chat with us</a> or call 1.800.200.2000</b>
</div>

<style>
  .shipping-handling {
    display: grid;
    gap: 10px;
    height: min-content;
    width: auto;
    padding: 30px;
    border: solid 1px #f0f0f0;
    border-radius: 30px;
  }
</style>