<div id="search-form" class="unified-search-form">
  <div class="search__type-popup gradient">
    <div class="mini_search_header">
      <h4 class="widget-title text-center">Search Our Site</h4>
      <button class="button-close"><i class="icon-x"></i></button>
    </div>

    <form action="/search" method="get" id="unified_search_form">
      <input
        type="text"
        name="q"
        placeholder="Search products..."
        aria-label="Search"
        autocomplete="off"
      />
      <div class="predictive-search" data-predictive-search></div>
    </form>
  </div>
</div>
