<!-- snippets/unified-search.liquid -->
<div id="search-form{{ id_suffix }}" class="unified-search-form">
  <div class="search__type-popup gradient">
    <div class="mini_search_header">
      <h4 class="widget-title text-center">Search Our Site</h4>
      <button class="button-close" aria-label="Close Search"><i class="icon-x"></i></button>
    </div>

    <form action="/search" method="get" id="unified_search_form{{ id_suffix }}">
      <input
        class="search__input field__input"
        type="search"
        name="q"
        placeholder="What are you looking for?"
        maxlength="128"
        autocomplete="off"
      />
      <div class="predictive-search" data-predictive-search></div>
    </form>
  </div>
</div>
